<div [ngStyle]="{'content-shifted': isSidebarOpen}" class="pt-10 transition-transform duration-300 w-full h-full bg-white flex flex-col items-center">
        <div class="flex justify-center pt-16 h-2/6 w-full">
            <div class="w-3/4">
              <p class="text-3xl lg:text-5xl text-sky-900 font-bold pb-6 drop-shadow-xl">
                Equipe Padrão
              </p>
              <div class="mt-10 lg:flex justify-between">
                <button
                  pButton
                  type="button"
                  icon="pi pi-plus"
                  iconPos="left"
                  class="text-sm lg:w-1/3 h-14 lg:text-xl max-w-xs"
                  label="Adicionar Projeto"
                ></button>
                <div>
                  <p-button
                  label="Ordenação"
                  styleClass="p-button-text"
                  iconPos="right"
                  icon="pi pi-sort-alt"
                ></p-button>
                <p-button
                  label="Visualização"
                  styleClass="p-button-text"
                  iconPos="right"
                  icon="pi pi-eye"
                ></p-button>
                <p-button
                  label="Filtros"
                  styleClass="p-button-text"
                  iconPos="right"
                  icon="pi pi-filter"
                ></p-button>
                </div>
              </div>
          </div>
    </div>
  
  <div class="w-3/4 mt-20 mb-20">
    <div class=" lg:grid grid-cols-3 gap-y-20">
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>
      <app-car class="mb-5 lg:mb-0 flex justify-center"></app-car>

    </div>
  </div>
  <div class="place-self-end  pr-24 top-[90%] fixed">
    <div class="h-20 w-20 p-5 rounded-full bg-corVerde absolute flex justify-center items-center top-[90%]">
      <i class="pi pi-comments" style="color: #fff; font-size:2rem;"></i>
    </div>
    <div class="h-4 w-4 p-3 bg-orange-400 rounded-full absolute top-[90%]" ></div>
  </div>
</div>
