<div class="w-4/5 h-3/5 min-h-full bg-slate-100 drop-shadow-2xl rounded">
    <div class="flex items-center justify-between p-3">
        <p>data final: 00/00</p>
        <div>
            <i class="pi pi-circle"></i>
            <i class="pi pi-circle"></i>
        </div>
    </div>
    <div class="p-3">
        <p>Titulo do Projeto</p>
        <div>
            <div class="flex items-center p-2">
                <p-checkbox name="groupname" value="val1"></p-checkbox>
                <p class="pl-2">Tarefa 1</p>
            </div>
            <div class="flex items-center p-2">
                <p-checkbox name="groupname" value="val1"></p-checkbox>
                <p class="pl-2">Tarefa 2</p>
            </div>
            <div class="flex items-center p-2">
                <p-checkbox name="groupname" value="val1"></p-checkbox>
                <p class="pl-2">Tarefa 3</p>
            </div>
        </div>
        <div class="w-full flex h-10 justify-end align-bottom">
            <i class="pi pi-star"></i>
        </div>
    </div>
</div>